@media (min-width: 2000px){
    body{
        background-size: 100px;
    }
}

@media(max-width: 730px){
    .container{
        display: flex;
        flex-direction: column;
        gap: 65px;
    }

    .container .conteudo {
        margin-left: 65px;
        text-align: center;
    }
}